extends layout

block content
  h2= "Okta Redirect Flow + Express"
  if authenticated
    br
    div
      p Welcome back!
      p You have successfully authenticated against your Okta org, and have been redirected back to this application.
      p Visit the #[a(href="/profile") My Profile] page in this application to view the information retrieved with your OAuth Access Token.
  else
    br
    div
      p If you're viewing this page then you have successfully configured and started this example server.
      p This example shows you how to to add the #[a(href="https://developer.okta.com/authentication-guide/implementing-authentication/auth-code.html") Redirect Flow] to your Express application.
      p When you click the login button, you will be redirected to the login page on your Okta org.
