doctype html
html
  head
    title= "Okta Redirect Flow With Express"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body#samples
    nav.navbar.navbar-default
      div.container-fluid
        ul.nav.navbar-nav
          a(href="/")
            img(src="https://www.okta.com/sites/default/files/Okta_Logo_BrightBlue_Medium.png", height="50", style="padding: 10px;")
        if authenticated
          form.navbar-form.navbar-right(method="post", action="/logout")
            button#logout-button.btn.btn-danger(type="submit") Logout
        else
          form.navbar-form.navbar-right(method="get", action="/login")
            button#login-button.btn.btn-primary(type="submit") Login           
    div#content.container
      block content
