extends layout

block content
  h2= "My Profile"
  br
  div
    p Hello, #{user.displayName}. Below is the information that was read with your #[a(href="https://developer.okta.com/docs/api/resources/oidc.html#get-user-information", target="_blank") Access Token].
  br
  table.table.table-striped
    thead 
      tr 
        th Claim 
        th Value 
    tbody 
    for values, claims in user
      tr 
        td #{claims}
        td #{values}
    
